/** @format */

@import url("https://fonts.googleapis.com/css2?family=Yellowtail&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap");
:root {
  --primary-color: #2f3542;
  --disable-primary-color: #5e6067;
  --primary-text-color: #a9bcb0;
  --tag-text-color: #ff6b81;
  --tag-secondary-text-color: #4c7d60;
  --tag-font-family: "Yellowtail", cursive;
  --normal-font-family: "Didact Gothic", sans-serif;
  --active-nav-color: royalblue;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.landing_page {
  width: 100%;
  height: 100vh;
}
.small_landing_page {
  display: none;
}
.large_landing_page {
  display: inline-block;
  width: 100%;
  height: 99.5vh;
}
.large_screen_navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
}
.app_info {
  margin-left: 7px;
  display: flex;
  align-items: center;
}
.logo_image {
  width: 30px;
  height: 30px;
}
.app_name {
  margin-left: 7px;
  font-size: 1.2rem;
  color: var(--tag-secondary-text-color);
  font-family: var(--tag-font-family);
  letter-spacing: 0.3px;
  font-weight: 900;
}
.landing_boxs {
  width: 100%;
  height: 92.5vh;
  display: flex;
  align-items: center;
}
.landing_box_one,
.landing_box_two {
  width: 50%;
  height: 92.5vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing_image_section {
  position: relative;
}
.tag_text {
  font-weight: 900;
  font-family: var(--tag-font-family);
  position: absolute;
  top: -0px;
  left: -30px;
}
.arrow_icon {
  position: absolute;
  top: -0px;
  left: -0px;
  z-index: 1;
  color: #2f3542 !important;
}
.landing_tag_section {
  width: 450px;
  height: auto;
  line-height: 38px;
}
.tag_title_one,
.tag_title_two {
  font-size: 2.03rem;
  font-weight: 900;
  font-family: var(--tag-font-family);
  color: var(--primary-color);
}
.spcl_tag {
  color: var(--tag-text-color);
}
.sub_tag {
  line-height: 18px;
  font-size: 0.7rem;
  padding: 5px;
  font-family: var(--normal-font-family);
  font-weight: 500;
  color: var(--primary-color);
}
.button_group {
  /* display: flex;
  align-items: center;
  justify-content: center; */
}
.landing_btn {
  width: 150px !important;
  height: 35px !important;
  background-color: var(--primary-color) !important;
  color: aliceblue;
  font-size: 0.85rem !important;
  font-weight: 400 !important;
  letter-spacing: 0.2px;
  margin: 0 1px;
  border-radius: 15px !important;
}
.register_landing_btn {
  background-color: transparent !important;
  border: 1.5px solid var(--primary-color) !important;
  color: var(--primary-color) !important;
}
.form_input_section {
  width: 100%;
  height: 40px;
  position: relative;
  margin-bottom: 7px;
}
.auth_input {
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  color: var(--primary-color) !important;
  width: 100% !important;
  height: 40px !important;
  padding-left: 25px !important;
}
.input_icon {
  position: absolute;
  top: 12px;
  left: 7px;
  color: var(--primary-color);
}
.auth_btn_section {
  width: 100%;
}
.auth_btn,
.disable_auth_btn {
  width: 100% !important;
  height: 42px !important;
  background-color: var(--disable-primary-color) !important;
  color: aliceblue;
  font-size: 0.875rem !important;
  font-weight: 400 !important;
  cursor: no-drop;
}
.auth_btn {
  background-color: var(--primary-color) !important;
  cursor: pointer;
}
.auth_error_msg {
  color: crimson;
  font-size: 0.7rem;
  font-weight: 400;
}
.main_navbar {
  width: 100%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.main_nav_others_box {
  width: 50%;
  height: 7vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 7px;
}
.navbar_button {
  background-color: transparent !important;
}
.avatar_icon {
  width: 30px !important;
  height: 30px !important;
}
.navbar_icon {
  font-size: 1.3rem;
}
.small_screen_nav_icons_section {
  display: none;
}
.navbar_menu_item {
  font-size: 0.75rem !important;
  font-weight: 500 !important;
  letter-spacing: 0.2px !important;
  color: var(--primary-color) !important;
}
.logout {
  color: crimson !important;
}
.home_section {
  width: 100%;
  height: 92.5vh;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
.home_nested_route_section {
  width: 100%;
  height: 5vh;
  padding-left: 5px;
  display: flex;
  align-items: center;
}
.home_route {
  width: 80px;
  text-align: center;
  font-weight: 500;
  letter-spacing: 0.2px;
  font-size: 0.85rem;
  color: var(--primary-color);
  padding: 5px 0;
}
.active_home_route {
  border-bottom: 1.8px solid var(--active-nav-color);
  color: var(--active-nav-color);
}
.item_container {
  width: 100%;
  height: 87.5vh;
}
.action_button {
  position: absolute !important;
  bottom: 20px !important;
  right: 20px !important;
  background-color: var(--primary-color) !important;
  color: aliceblue !important;
  border-radius: 50% !important;
  width: 50px !important;
  height: 50px !important;
  z-index: 10 !important;
}
.action_btn_icon {
  font-size: 1.05rem !important;
  margin-left: 3px !important;
}
.modal_title_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title_text {
  font-weight: 500 !important;
  font-size: 0.95rem !important;
}
.disable_create_btn {
  background-color: var(--disable-primary-color) !important;
  color: aliceblue !important;
  cursor: no-drop !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.create_modal_body {
  width: 100%;
  height: 65vh;
  overflow: scroll;
  overflow-x: hidden;
  padding: 2px;
}
.form_input {
  font-size: 0.85rem !important;
  font-weight: 400 !important;
  margin-bottom: 5px;
}
.form_textarea {
  resize: none !important;
  font-size: 0.85rem !important;
  font-weight: 400 !important;
  margin-bottom: 5px;
  height: 120px !important;
}
.file_input {
  display: none;
}
.file_input_section {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.prev_img_section {
  width: 100%;
  height: 250px;
  position: relative;
}
.prev_image {
  width: 100%;
  height: 250px;
}
.input_file_label {
  border: 1px dotted var(--primary-color);
  padding: 15px;
  border-radius: 50px;
}
.close_image_btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  z-index: 100 !important;
  background-color: var(--primary-color) !important;
  color: aliceblue !important;
}
.file_upload_icon {
  font-size: 2.5rem;
}
.create_btn {
  background-color: var(--primary-color) !important;
  color: aliceblue !important;
  cursor: pointer !important;
  font-weight: 400 !important;
  font-size: 0.8rem !important;
}
.empty_item_box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item_card_section {
  width: 100%;
  height: 87.5vh;
  overflow: scroll;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.item_card {
  border: 1px solid rgb(210, 210, 210);
  width: 100%;
  height: 330px;
  max-width: 330px;
  margin: 5px;
  border-radius: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding: 5px;
  position: relative;
}
.menu_item {
  font-size: 0.8rem !important;
  font-weight: 500 !important;
  color: var(--primary-color) !important;
}
.delete {
  color: crimson !important;
}
.menu_btn {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  background-color: #2f354262 !important;
  color: aliceblue !important;
}
.card_img_section {
  width: 100%;
  height: 200px;
  padding: 2px;
}
.card_image {
  width: 100%;
  height: 100%;
}
.card_title {
  font-size: 0.975rem;
  font-weight: 500;
  margin: 5px 0;
}
.card_description {
  font-size: 0.7rem;
  font-weight: 400;
  color: var(--disable-primary-color);
  line-height: 16px;
  margin-bottom: 12px;
}
.modal_menu_btn {
  background-color: transparent !important;
  width: 100% !important;
  display: flex !important;
  height: 40px !important;
  margin: 5px 0 !important;
  border: 1px solid rgb(221, 220, 220) !important;
  justify-content: space-between !important;
  align-items: center !important;
}
@media only screen and (max-width: 600px) {
  .small_landing_page {
    display: inline-block;
    width: 100%;
    height: 100vh;
    background-color: lightblue;
  }
  .large_landing_page {
    display: none;
  }
  .main_nav_others_box {
    display: none;
  }
  .small_screen_nav_icons_section {
    display: inline-block;
  }
  .drawer_nav_links {
    width: 100%;
    height: 60vh;
  }
  .drawer_nav_item {
    width: 100%;
    margin-bottom: 7px;
    text-align: center;
    font-weight: 500;
    font-size: 0.875rem;
    padding: 7px;
  }
}
